
    <%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
        <%- include('./partials/main') %>
        
        <section class="paquetes">
            <h3>Paquetes:</h3>
            <div class="productos">
                <% for (let paquete of data_paquetes) {
                    if (paquete.index) { %>
                        <article>
                            <figure class="product_image">
                                <a href="/productDetail">
                                    <img src= <%= paquete.image %> alt= <%= paquete.alt_image%>
                                </a>  
                            </figure>
                            <p class="descripcion"><strong><%= paquete.description%></strong></p>    
                            <p class="precio">Precio: <%= paquete.price%></p>
                            <p class="descuento">Oportunidad: <%= paquete.discount%> OFF</p>
                        </article>
                    <% } %>
                <% } %>
                
            </div> 
        </section>
        <section class="ofertas">
            <h3>Ofertas:</h3>
            <div class="prod_ofertas"> 
                <% for (let paquete of data_paquetes) {
                    if (paquete.index == false) { %>
                        <article>
                            <figure class="product_image">
                                <a href="/productDetail">
                                    <img src= <%= paquete.image %> alt= <%= paquete.alt_image%>
                                </a>  
                            </figure>
                            <p class="descripcion"><strong><%= paquete.description%></strong></p>    
                            <p class="precio">Precio: <%= paquete.price%></p>
                            <p class="descuento">Oportunidad: <%= paquete.discount%> OFF</p>
                        </article>
                    <% } %>
                <% } %>
            </div>
        </section>

        <%- include('./partials/footer') %>
           
    </body>

</html>