<%- include('./partials/head') %>

<body>

<%- include('./partials/header') %>
    
    <main class="cartMain" >
        <section class="sectionCart">
               <h2 class="h2Cart"></h2>
                <article class="porComprar">
                    <p class="descripcionCart"><strong><%= package.package_name %> </strong></p> 
                        
                        <form action="cart/cartForm">
                            <a href="#eliminar" >
                                <button type="reset"><i class="fa-solid fa-trash-can"></i></button>
                            </a>
                            <img src="/images/<%= package.package_image %>" alt="<%= package.package_alt_image %>">
            
                            <div class="texto">
                                <p class="desc"> <%= package.package_title %> </p>
                                <p class="precioCart"> <%= package.package_price %></p>
                                <p class="descuentoCart"> 20% off </p>  
                            </div>
                        <br>
                        <hr class="hr">
                    
                        </form>
            
                <div class="iniciar_compra" >
                    <p class="textTotal"><strong>Total:</strong></p>
                    <p class="montoTotal"><strong>$40.770</strong></p>
                        <a href="cart/cartForm"> 
                            <button class="botonPago" type="submit" value="sumbit" for="cartForm">Iniciar compra</button>
                        </a>
                        
                    <label class="actionCart">
                        <a href="./index">Seguir comprando<i class="fa-solid fa-cart-shopping"></i></a>
                    </label>
              
                </div>
               
            </section>
    </main>
        
    <%- include('./partials/footer') %>

</body>
</html>