<%- include('./partials/head') %>

<body>
  <header>
  <h1>Administracion de Usuarios</h1>
  <p>Listado de Usuarios</p>
  <% for (let user of users_table) {%>
    <div class="users_list">
      <p>ID: <%= user.id %> </p>
      <p>Nombre: <%= user.nombre %></p>
      <p>Email: <%= user.email %></p>
      <p>Avatar: <%= user.avatar %></p>
      <br>
      <% } %> 
    </div>
  </header>
</body>
</html>
