<%- include('./partials/head') %>

<body>

  <%- include('./partials/nav_admin') %>


  <%- include('./partials/header_admin') %>
  <div class="main_users_detail">
    <h1 class="main_title">Administracion de Usuarios</h1>
  <p class="title_users">Detalle de Usuario</p>
  <% if(user) {%>
      <div class="users_list">
       
        <img  class="user_avatar" src="/images/users/avatars/<%= user.avatar ? user.avatar : "user_avatar_default.png" %>">
        <p class="user_id" id="<%=user.id%> class="user_id">ID: <%= user.id %> </p>
        <p class="user_name">Nombre: <%= user.user %></p>
        <p class="user_email">Email: <%= user.email %></p>
    
          <nav class= "iconos">
            <ul class="ul_2_admin">
                <li><a href="/admin/user/<%= user.id %>""><img src="/images/pencil-solid.svg" ></a></li>
                <li><a href="/admin/user/<%= user.id %>/delete"><img src="/images/trash-can-solid.svg"  ></a></li>
           </ul>
           </nav>

</div>
   <% } %> 
  </header>
</body>
</html>
