<article>
    <figure class="product_image">
        <a href="/admin/producto/<%= paquete.package_id%>">
            <img src='/images/<%= paquete.package_image %>' alt='<%= paquete.package_alt_image%>' >
        </a>  
    </figure>
    <p class="descripcion"><strong><%= paquete.package_description%></strong></p>    
    <p class="precio">Precio: <%= paquete.package_price%></p>
    <p class="descuento">Oportunidad: <%= paquete.package_discount%> OFF</p>
</article>


