<article class="short_detail">
    <figure>
        <img src="<%= paquete.image %>" alt="<%= paquete.alt_image %>">
    </figure>
    <div class="short_description">
        <p class="description"><strong> <%= paquete.description %> </strong></p>
        <p class="price"> <%= paquete.price %> </p>
        <p class="discount">Oportunidad: <%= paquete.discoount %> OFF</p>
        <a class="link" href="/productDetail/<%= paquete.id %>" name="id">Más detalles...</a>
    </div>
</article>