

<%- include('../partials/head') %>
<body class="body_users">

   
        <h3>Formulario para modificar un Usuario</h3>
         <% if(user) { %>
    <form action="/admin/user/edit?_method=PUT" method="POST" class="create_form" id= 'form_edit' enctype="multipart/form-data">
        
        <div class="id_edit">
            <label>Editar usuario <%= user.id%></label>
        <input id='id' type="number" name="user_id" value="<%= user.id%>" hidden >
      
        </div>
        <div class="user_edit">
            <label>Nombre de ususario:</label>
            <input type="text" name="user_name" class="control" value="<%= user.user%>"  size="32">
        </div>
        <div class="user_edit">
            <label>Avatar: </label>
            <input type="file" name="user_avatar" id="user_avatar" value="<%= user.avatar%>" accept= ".jpeg, .png, .webp" class="control">
        </div>
        <div class="user_edit">
            <label>Nombre: </label>
            <input type="text" name="first_name" value="<%= user.first_name%>" class="control"  size="32">
        </div>
        <div class="user_edit">
            <label>Apellido: </label>
            <input type="text" name="last_name" class="control"  value="<%= user.last_name%>" size="32">
        </div>
        <div class="user_edit">
            <label>Fecha de Nacimiento: </label>
            <input type="date" name="birth_date" value="<%= user.birth_date%>" class="control" size="32">
        </div>
        <div class="user_edit">
            <label>Edad: </label>
            <input type="number" name="age" value="<%= user.age%>" class="control"  size="32">
        </div>
        <div class="user_edit">
            <label>N째 Documento: </label>
            <input type="number" name="identity_document" value="<%= user.identity_document%>" class="control"  size="32">
        </div>
        <div class="user_edit">
            <label>Domicilio: </label>
            <input type="text" name="home" value="<%= user.home%>" class="control"  size="32">
        </div>
        <div class="user_edit">
            <label>C처digo Postal: </label>
            <input type="number" name="postal_code" value="<%= user.postal_code%>" class="control"  size="32">
        </div>
        <div class="user_edit">
            <label>Provincia: </label>
            <input type="text" name="province" value="<%= user.province%>" class="control"  size="32">
        </div>
        <div class="user_edit">
            <label>Mail:  </label>
            <input type="email" name="user_email" class="control" value="<%= user.email%>"  size="10">
        </div>
        <div class="user_edit">
            <label>Numero Contacto:</label>
            <input type="tel" name="phone_number" value=" <%= user.phone_number%> " class="control"   size="10">
        </div>
        <div class="user_edit">
            <label>Medio de pago:  </label>
            <input type="text" name="payment_method" value="<%= user.payment_method%>" class="control"   size="10">
        </div>
        <div class="user_edit">
            <label>N째 de tarjeta:</label>
            <input type="number" name="card_number" value=" <%= user.card_number%> " class="control"   size="10">
        </div>
        <div class="user_edit">
            <label>Titular de la Tarjeta:  </label>
            <input type="text" name="name_card_holder" class="control"  value="<%= user.name_card_holder%>" size="10">
        </div>
        <div class="user_edit">
            <label>Vencimiento:</label>
            <input type="number" name="expiration" class="control" value=" <%= user.expiration%> "  size="10">
        </div>
        <div class="user_edit">
            <label>C처digo de seguridad:  </label>
            <input type="number" name="security_code"  value="<%= user.security_code%>" class="control"   size="10">
        </div>
        <div class="user_edit">
            <label>password:  </label>
            <input type="password" name="password"  value="<%= user.password%>" class="control" readonly  size="10">
        </div>
        <div class="user_edit">
            <label>password_valid:  </label>
            <input type="password" name="password_valid"  value="<%= user.password_valid%>" class="control" readonly  size="10">
        </div>
            <div class="button_users">                              
                <button type= "submit" class="button_edit_users">Guardar</button>
                <button type="reset" class="button_edit_users"><a href="/admin/users">Cancelar</a></button>
            </div>
    </form>
    <% } %>
    
</body>
</html>